.information_bar{
    width: 80rem;
    height: auto;
    background-color: #fff;
    border-radius: 1rem;
    margin-bottom: 3rem;
    padding: 1.5rem 2rem;
    box-shadow: 0px 5px 10px 0px rgb(73, 73, 73);
}

.deplegable-horas{
    display: flex;
    justify-content: space-between;
}

.check_filter{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.check_filter label{
    margin-right: 2rem;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    accent-color: var(--primary-color);
    border-radius: 4px;
    margin-right: 5px;
}

@media (max-width: 1295px) {
    .information_bar {
        width: 75rem;
    }
}

@media (max-width: 1205px) {
    .information_bar {
        max-width: 60rem;
    }
}

@media (max-width: 980px) {
    .information_bar {
        max-width: 40rem;
    }
}

@media (max-width: 680px){
    .deplegable-horas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .check_filter {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 1rem;
    }

    .information_bar {
        max-width: 30rem;
    }
}

@media(max-width:520px){
    .information_bar {
        max-width: 22rem;
    }
}

@media(max-width:390px){
    .information_bar {
        max-width: 15rem;
    }

    .check_filter {
        font-size: 0.8rem;
        width: 100%;
        display: flex;
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
    }

    .check_filter label {
        margin-right: 0.5rem;
    }
}