* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*Espaciador*/
.Space {
    height: 5rem;
}

/*Contenerdor principal*/
.main-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 80rem;
    height: 100vh;
    border-radius: 1rem;
    margin-left: 2.5rem;
}

/*Título y buscador*/
.title-and-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-and-search h2 {
    margin-left: 1rem;
}

.title-and-search .search-input {
    margin-right: 1rem;
}

/*Contenedor de horarios*/
.container-schedules {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 75rem;
    height: 30vh;
    margin-top: 2rem;
    margin-left: 2.5rem;
    border-radius: 1rem;
}

/*Contenedores de los horarios de las fichas*/
.schedule1 {
    background-color: var(--primary-color);
    width: 15rem;
    height: 19vh;
    margin-top: 1rem;
    padding-top: 7rem;
    margin-left: 1.5rem;
    border-radius: 1rem;
    position: absolute;
    border: none;
    cursor: pointer;
}

.schedule2 {
    background-color: var(--primary-color);
    width: 15rem;
    height: 19vh;
    margin-top: 1rem;
    padding-top: 7rem;
    margin-left: 20rem;
    border-radius: 1rem;
    position: absolute;
    border: none;
    cursor: pointer;
}

.schedule3 {
    background-color: var(--primary-color);
    width: 15rem;
    height: 19vh;
    margin-top: 1rem;
    padding-top: 7rem;
    margin-left: 38.5rem;
    border-radius: 1rem;
    position: absolute;
    border: none;
    cursor: pointer;
}

.schedule4 {
    background-color: var(--primary-color);
    width: 15rem;
    height: 19vh;
    margin-top: 1rem;
    padding-top: 7rem;
    margin-left: 57rem;
    border-radius: 1rem;
    position: absolute;
    border: none;
    cursor: pointer;
}

/*Iconos de calendarios*/
.schedule1 .calendar-icon {
    width: 6rem;
    height: 12vh;
    margin-right: 7rem;
    top: -5.5rem;
    right: 0;
    position: relative;
    color: var(--color-text-white);
}

.schedule2 .calendar-icon {
    width: 6rem;
    height: 12vh;
    margin-right: 7rem;
    top: -5.5rem;
    right: 0;
    position: relative;
    color: var(--color-text-white);
}

.schedule3 .calendar-icon {
    width: 6rem;
    height: 12vh;
    margin-right: 7rem;
    top: -5.5rem;
    right: 0;
    position: relative;
    color: var(--color-text-white);
}

.schedule4 .calendar-icon {
    width: 6rem;
    height: 12vh;
    margin-right: 7rem;
    top: -5.5rem;
    right: 0;
    position: relative;
    color: var(--color-text-white);
}

/*Número de la ficha*/
.ficha-and-number {
    position: relative;
    top: -10rem;
    margin-left: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text-white);
    font-size: 15px;
}

.ficha-and-number h2 {
    font-weight: 500;
}

/*Responsive*/

@media (max-width:465px) {

    .title-and-search h2 {
        font-size: 1.4rem;
    }

    .title-and-search .search-input {
        margin-right: -1rem;
    }

    .main-container {
        margin-left: 1rem;
        grid-template-columns: 1fr;
    }

    .main-container .title-and-search {
        display: flex;
        flex-direction: column;
        margin-right: 59rem;
        margin-top: 1rem;
    }


}