* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*Espaciador*/
.Space {
    height: 5rem;
}

/*Contenerdor principal*/
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    width: 80%;
    border-radius: 1rem;
    margin-left: 8rem;
    margin-top: 3rem;
}

/*Título y buscador*/
.title-and-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.title-and-search h2 {
    margin-left: 3rem;
}

.title-and-search .search-input {
    margin-right: 3rem;
}

/*Contenedores de los horarios de las fichas*/
.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    width: 15rem;
    height: 18.5vh;
    margin-top: 1rem;
    padding-top: 7rem;
    margin-left: 1.5rem;
    border-radius: 1rem;
    /* position: absolute; */
    cursor: pointer;
}

/*Iconos de calendarios*/
.calendar-icon {
    width: 6rem;
    height: 12vh;
    margin-right: 7rem;
    top: -5.8rem;
    right: 0;
    position: relative;
    color: var(--color-text-white);
}

/*Número de la ficha*/
.ficha-and-number {
    position: relative;
    top: -10rem;
    margin-left: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text-white);
    font-size: 15px;
}

.ficha-and-number h2 {
    font-weight: 500;
}

/*Responsive*/

@media (max-width:1280px){
    .schedule{
        height: 17vh;
    }

    .ficha-and-number{
        margin-top: -0.4rem;
        margin-left: 6.5rem;
    }
}

@media (max-width:1024px){

    .main-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 6rem;
    }

    .schedule{
        height: 12vh;
        width: 12rem;
    }

    .calendar-icon{
        height: 12vh;
        width: 9rem;
        margin-top: -0.1rem;
        margin-left: 1rem;
    }

    .ficha-and-number{
        margin-left: 5.5rem;
        margin-top: 0.1rem;
    }
}

@media (max-width:912px){

    .main-container{
        margin-left: 2rem;
    }
}

@media (max-width:820px){
    .main-container{
        grid-template-columns: 1fr 1fr;
        margin-left: 6rem;
    }

    .schedule{
        height: 13vh;
        width: 16rem;
    }

    .ficha-and-number{
        font-size: 1.1rem;
        margin-left: 7rem;
        margin-top: -1rem;
    }
}

@media (max-width:768px){

    .main-container{
        grid-template-columns: 1fr 1fr;
        margin-left: 5rem;
    }

    .schedule{
        height: 14vh;
    }

    .calendar-icon{
        height: 10vh;
    }

    .ficha-and-number{
        margin-top: -0.6rem;
        margin-left: 6.3rem;
    }
}

@media (max-width:540px){

    .title-and-search h2{
        white-space: nowrap;
    }

    .title-and-search{
        display: flex;
        flex-direction: column;
        margin-left: -1.6rem;
    }

    .title-and-search .search-input{
        margin-left: 6rem;
        margin-top: 1rem;
    }

    .main-container{
        margin-left: 1rem;
    }

    .schedule{
        width: 14rem;
    }

    .ficha-and-number{
        margin-left: 5rem;
        font-size: 1rem;
        margin-top: -0.1rem;
    }

    .calendar-icon{
        margin-top: -0.1rem;
    }
}

@media (max-width: 430px){

    .title-and-search{
        margin-left: -1.5rem;
    }

    .title-and-search h2{
        font-weight: 700;
        white-space: nowrap;
    }

    .title-and-search .search-input{
        margin-left: 27rem;
    }

    .main-container{
        margin-right: 3rem;
        margin: 30px -18px;
        padding-left: 10px 20px;
    }

    .schedule{
        height: 15.5vh;
    }

    .calendar-icon{
        width: 13rem;
        height: 11vh;
    }

    .ficha-and-number{
        margin-top: -0.5rem;
        margin-left: 6.5rem;
    }
}

@media (max-width:414px) {

    .title-and-search {
        display: flex;
        flex-direction: column;
        margin-left: -5rem; 
    }

    .title-and-search .search-input {
        margin-left: 8rem;
        margin-top: 1rem;
    }

    .title-and-search h2 {
        margin-left: 4rem;
        font-size: 1.7rem;
        white-space: nowrap;
        margin-top: 0.5rem;
    }

    .main-container{
        width: 5rem;
        grid-template-columns: 1fr;
        margin-left:4rem;
        column-gap: 0.1rem;
    }

    .schedule{
        width: 14.5rem;
        height: 15vh;
    }

    .calendar-icon{
        width: 10rem;
        height: 10vh;
    }
}

@media (max-width:412px){

    .title-and-search h2{
        margin-left: 5rem;
    }

    .title-and-search{
        margin-left: -5rem;
    }

    .main-container{
        margin-left: 4.5rem;
    }
}

@media (max-width:375px) {

    .title-and-search h2 {
        margin-left: 23rem;
        font-size: 1.3rem;
        width: 13rem;
        /* background-color: aqua; */
    }

    .title-and-search .search-input {
        margin-top: 1rem;
        margin-left: 27rem;
        width: 19rem;
    }

    .main-container {
        grid-template-columns: 1fr;
        margin-left: 3rem;
        margin-top: 1.2rem;
    }

    .title-and-search {
        display: flex;
        flex-direction: column;
        margin-right: 20.5rem;
    }

    .schedule{
        height: 8vh;
    }

    .ficha-and-number{
        margin-top: 0.1rem;
        margin-right: 0.5rem;
    }

    .calendar-icon{
        height: 11.5vh;
        margin-top: -0.2rem;
    }
}

@media (max-width:360px){
    .title-and-search{
        margin-right: 18rem;
    }

    .calendar-icon{
        height: 10vh;
    }
}

@media (max-width:280px){

    .title-and-search .search-input{
        width: 15rem;
        margin-left: 26rem;
    }

    .main-container{
        margin-left: 0.5rem;
    }

    .schedule{
        width: 13.5rem;
    }

    .calendar-icon{
        height: 80vh;
        width: 4rem;
    }
}