@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --primary-color: #5CB85C;
    --color-text-white: #fff;
    --color-hover-option-select: #62baea;
    --color-text-hover-option: #fff;
    --color-icons: #fff;
    --sencundary-color-underline-title: #F26828;
    --color-btn-guardar: #5CB85C;
    --color-btn-cancelar: #E74C3C;
    --color-text-btn: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

