.container-About{
    width: 100%;
    height: 100%;

    .btn-title{
        display: flex;
        align-items: center;
        margin: 2rem;

        .btn-back{
            cursor: pointer;
            
            span{
                font-size: 2rem;
                margin-right: 1rem;
                cursor: pointer;
            }
        }
    }
}
